<div *ngFor="let product of products" [title]="product.description" >
<ul>
  <li 
  [title]="product.description">
  <h3>
    <a [routerLink]="['/produits', product.id]">
      {{product.name}}
    </a>
  </h3>
  <p *ngIf="product.description" [class.cher]="product.price>500">{{product.description}}</p>
  <button type="button" (click)="share()">Partager</button>
  <app-product-alerts
    [produit]="product"
    (notif) = "onNotif()"
    >
  </app-product-alerts>
</li>
</ul>
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->